<!DOCTYPE html>
<html lang="vi">
	<head>
		<title>Maindoors.com.vn</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
			
		<!-- 1. CSS ở đây -->
		<link href="css/normalize.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/dien.css" rel="stylesheet">
		<link href="css/truongnguyen_style.css" rel="stylesheet">
		<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
		<script type="text/javascript" src="js/front-end.js"></script>
		
	</head>
	<body>
		<!-- 2. HTML ở đây -->
		<div id="wrapper">
			<div class="header">
				<div class="banner">
					<div class="background-banner">
						<div class="header-luc-giac">
							<a href="#"><img class="header-logo" src="images/header-logo.png"></a>
							<a href="#"><img class="logo-text" src="images/logo-text.png"></a>
							<div class="header-text-number-1">
								<img class="number-logo" src="images/nguoi.png">
								<p class="number">9.190.000</p>
								<p class="number-text">Thành viên</p>
							</div>
							<div class="header-text-number-2">
								<img class="number-logo" src="images/nguoi.png">
								<p class="number">9.190.000</p>
								<p class="number-text">Người xem</p>
							</div>
							<div class="header-text-number-3">
								<img class="number-logo" src="images/nguoi.png">
								<p class="number">9.190.000</p>
								<p class="number-text" style="margin:0px;">Giao dịch thành công</p>
							</div>
							<a href="#" class="header-dang-tin"><img src="images/header-dang-tin.png"></a>
							<a href="#" class="header-buttom-1"><img src="images/f.png"></a>
							<a href="#" class="header-buttom-2"><img src="images/1.png"></a>
							<a href="#" class="header-buttom-3"><img src="images/g+.png"></a>
							<a href="#" class="header-buttom-4"><img src="images/twitter.png"></a>
							<a href="#" class="header-buttom-5"><img src="images/gg.png"></a>
							<a href="#" class="header-buttom-6"><img src="images/i.png"></a>
						</div>
					</div>
				</div>
				<div class="menu">
					<ul>
						<li>
							<a href="">
								<p>MUA & BÁN</p>
								<p>007. 356. 000</p>
							</a>
						</li>
						<li>
							<a href="">
								<p>VẬT LIỆU XÂY DỰNG</p>
								<p>007. 356. 000</p>
							</a>
						</li>
						<li>
							<a href="">
								<p>THUÊ & CHO THUÊ</p>
								<p>007. 356. 000</p>
							</a>
						</li>
						<li>
							<a href="">
								<p>NỘI THẤT</p>
								<p>007. 356. 000</p>
							</a>
						</li>
						<li>
							<a href="">
								<p>ĐẦU TƯ & TƯ VẤN</p>
								<p>007. 356. 000</p>
							</a>
						</li>
						<li>
							<a href="">
								TRANG CÁ NHÂN
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- END Header -->
			<!-- class -->
			<!-- News -->
			<div class="news-page">
				<h2>Giá đền bù GPMB quốc lộ 1A đoạn Văn Điển-Ngọc Hồi cao nhất 26 triệu/m2</h2>
				<span class="news-page-day">Đăng ngày 27/05/2016 08:23</span>
				<h5>Cùng chủ đề</h5>
				<ul>
					<a href="#"><li>13.000 tỷ đồng GPMB, đền bù đất Dự án sân bay Long Thành</li></a>
					<a href="#"><li>Hà Nội: Phê duyệt giá đất đền bù GPMB đoạn Vĩnh Tuy - Mai Động</li></a>
				</ul>
				<p class="news-page-title">
					TP. Hà Nội vừa có quyết định về việc phê duyệt hệ số điều chỉnh giá đất làm căn cứ bồi thường hỗ trợ giải phóng mặt bằng (GPMB) dự án cải tạo, nâng cấp Quốc lộ 1A đoạn Văn Điển - Ngọc Hồi. Theo đó, giá đền bù cao nhất là gần 26 triệu đồng/m2, thấp nhất là 7,5 triệu đồng/m2.
				</p>
				<img src="images/news_page_01.jpg">
				<p class="news-page-content">
					Dự án trên rơi vào cảnh dở dang suốt nhiều năm qua vì không có mặt bằng sạch. Do đó, TP. Hà Nội đã ban hành bảng giá đất đền bù mới áp dụng riêng cho dự án nhằm đẩy nhanh tiến độ GPMB dự án. Tình trạng chi phí GPMB của nhiều dự án đầu tư hạ tầng giao thông tại Hà Nội cao hơn nhiều so với chi phí xây lắp dự án đang diễn ra với nhiều dự án phát triển hạ tầng giao thông.

Đối với dự án mở rộng Quốc lộ 1A đoạn Văn Điển - Ngọc Hồi có tổng chiều dài khoảng 3,8 km, khi áp giá đền bù GMPB mới này, chi phí GPMB đã lên tới 507 tỷ đồng, tức khoảng 22,7 triệu USD. Như vậy mỗi ki lô mét dự án có chi phí GPMB lên tới gần 6 triệu USD. Trong khi chi phí xây lắp và chi phí dự phòng toàn bộ dự án chỉ vào khoảng 381 tỷ đồng, tức khoảng 17 triệu USD.

Sự việc trên cũng cho thấy những bất cập trong công tác quy hoạch phát triển hạ tầng giao thông đã đẩy chi phí đầu tư, suất đầu tư các dự án tăng gấp nhiều lần so với chi phí xây lắp.

Theo phê duyệt của UBND TP. Hà Nội, giá đất đền bù GPMB dự án Quốc lộ 1A đoạn Văn Điển - Ngọc Hồi được chia làm 3 khu vực chính, gồm: khu vực xã Tứ Hiệp vị trí VT1 từ cuối thị trấn Văn Điển đến hết xã Tứ Hiệp, phía đối diện đường tàu có hệ số đền bù đất là 1,58 lần tương đương giá đền bù đất làm tròn khoảng 26 triệu đồng/m2; vị trí VT4 có hệ số đền bù là 1,8 lần, tương đương giá đền bù là 13,6 triệu đồng/m2.

Riêng khu vực xã Ngọc Hồi - Liên Ninh lại được chia thành 3 vị trí khác nhau với giá đất đền bù GPMB như sau: vị trí VT1 từ cầu Ngọc Hồi đến hết địa phận huyện Thanh Trì phía đối diện đường tàu có hệ số đền bù là 1,21 lần, tương đương giá đất làm tròn khoản 14,7 triệu đồng/m2; vị trí VT2 có hệ số đền bù là 1,21 lần tương đương giá đất 9,6 triệu đồng/m2; vị trí VT3 có hệ số đền bù là 1,14 lần tương đương giá đất gần 7,5 triệu đồng/m2.

Cùng với việc ban hành giá đền bù GPMB, UBND TP. Hà Nội cũng ban hành giá đất tái định cư cho người dân thuộc diện giải tỏa để triển khai thực hiện dự án. Theo đó, giá đất tái định cư phục vụ dự án dao động từ 3,8 - 8,2 triệu đồng/m2.
				</p>
				<p class="news-page-signature">(Theo Sài Gòn Đầu tư Tài chính)</p>
			</div>
			
			<!-- END class Content -->
			<div class="footer">
				<div class="dwrapper">
					<!--Footer-->
					<div id="dfooter-top">
						<div id="dcontent">
							<div id="dcontent-footer-top">
								<span class="dcontact">
									Lien lac voi chung toi de co ban danh gia thi truong mien phi
								</span>
								<button>Find out more <img src="images/muiten.png" alt="muiten"/></button>
							</div>
							<div id="dfooter-menu-top">
								<ul class="dnavbar-footer-top">
									<li><a href="#">Ve maindoor</a></li>
									<li><a href="#">Tham gia vao mang</a></li>
									<li><a href="#">Tuyen dung</a></li>
									<li><a href="#">Gap go cac doi</a></li>
									<li><a href="#">Chuyen nhuong dai ly mua</a></li>
									<li><a href="#">Maindoor va tinh ben vung</a></li>
								</ul>	<!--End navbar-footer-top -->
							</div>
						</div>
					</div><!--End Footer=-top -->
				</div>

				<div class="dwrapper">
					<div id="dfooter">
						<div id="dfooter-mid">
							<div id="dban" class="dcate-footer">
								<p class="dlead"><a href="#">Ban</a></p>
								<p class="dcate-child"><a href="#">Ban bat dong san</a></p>
								<p class="dcate-child"><a href="#">Ban voi maindoor</a></p>
								<p class="dcate-child"><a href="#">Quy trinh ban hang</a></p>
								<p class="dcate-child"><a href="#">Tham dinh tai san mien phi</a></p>
								<p class="dcate-child"><a href="#">Loi khuyen cho nguoi ban tai san</a></p>
								<p class="dcate-child"><a href="#">Cac cau hoi thuong gap</a></p>
								<p class="dcate-child"><a href="#">Chuyen nhuong & thanh toan</a></p>
							</div><!--End ban -->
							<div id="dmua" class="dcate-footer">
								<p class="dlead"><a href="#">Mua</a></p>
								<p class="dcate-child"><a href="#">Mua bat dong san</a></p>
								<p class="dcate-child"><a href="#">Mua voi maindoor</a></p>
								<p class="dcate-child"><a href="#">Tam ly ban dau cua nguoi mua</a></p>
								<p class="dcate-child"><a href="#">Qua trinh mua</a></p>
								<p class="dcate-child"><a href="#">Loi khuyen cho nguoi mua</a></p>
								<p class="dcate-child"><a href="#">Cac cau hoi thuong gap</a></p>
								<p class="dcate-child"><a href="#">Chuyen nhuong</a></p>

							</div><!--End mua -->
							<div id="dthue" class="dcate-footer">
								<p class="dlead"><a href="#">Thue</a></p>
								<p class="dcate-child"><a href="#">ho thue bat dong san</a></p>
								<p class="dcate-child"><a href="#">Tang gia thue cua BDS</a></p>
								<p class="dcate-child"><a href="#">Cho thue voi maindoor</a></p>
								<p class="dcate-child"><a href="#">Lan dau thue nha</a></p>
								<p class="dcate-child"><a href="#">Cac cau hoi thuong gap</a></p>
							</div><!--End thue -->
							<div id="ddau-tu" class="dcate-footer">
								<p class="dlead"><a href="#">Dau tu</a></p>
								<p class="dcate-child"><a href="#">Dau tu vao tai san</a></p>
								<p class="dcate-child"><a href="#">Dau tu voi maindoor</a></p>
								<p class="dcate-child"><a href="#">Quan li voi maindoor</a></p>
								<p class="dcate-child"><a href="#">Loi ich cua quan ly tai san</a></p>
								<p class="dcate-child"><a href="#">Tai sao can co nha tu van</a></p>
								<p class="dcate-child"><a href="#">Cac cau hoi thuong gap ve quan ly tai san</a></p>

							</div><!--End dau-tu -->
							<div id="dtai-chinh" class="dcate-footer">
								<p class="dlead"><a href="#">Tai chinh</a></p>
								<p class="dcate-child"><a href="#">Lan dau quan ly dong tien cua BDS</a></p>
								<p class="dcate-child"><a href="#">Diem hoa von cua dau tu BDS</a></p>
								<p class="dcate-child"><a href="#">Tinh thanh khoan</a></p>
								<p class="dcate-child"><a href="#">Tai cap von</a></p>
								<p class="dcate-child"><a href="#">Nha dau tu</a></p>
								<p class="dcate-child"><a href="#">San pham cua chung toi</a></p>

							</div><!--End tai-chinh -->
							<div id="dbat-dong-san" class="dcate-footer">
								<p class="dlead"><a href="#">Bat dong san</a></p>
								<p class="dcate-child"><a href="#">So huu nha o</a></p>
								<p class="dcate-child"><a href="#">So huu chung cu</a></p>
								<p class="dcate-child"><a href="#">So huu biet thu</a></p>
								<p class="dcate-child"><a href="#">So huu dat</a></p>
								<p class="dcate-child"><a href="#">Tai san thuong mai</a></p>
								<p class="dcate-child"><a href="#">Tai san nong thon</a></p>
								<p class="dcate-child"><a href="#">Tai san dat dai</a></p>
								<p class="dcate-child"><a href="#">Maindoor.com</a></p>

							</div><!--bat-dong-san -->

						</div><!--End Footer=-mid -->
					</div>
				</div>
				<div id="dwrapper-end">
						<div id="dfooter-bot">
							<ul id="dnavbar-menu-bot">
								<li><a href="#">Song tot</a></li>
								<li><a href="#">Disclaimer</a></li>
								<li><a href="#">Chinh sach rieng tu</a></li>
								<li><a href="#">Dieu khoan su dung</a></li>
								<li><a href="#">ban do</a></li>
								<li><a href="#">So do trang web</a></li>
							</ul>	
						</div><!--End Footer=-bot -->		
				</div><!--End Footer-->
			</div>
		</div>
		<!-- 3. JS ở đây -->		
	</body>
</html>